<div class="index_home_studio">
  <h1 class="title">Studio L’Aurore</h1>
  <div class="small_description">
    <p>A simple and minimal set up with all what you need to express your creativity.</p>

    <p>A mix of old analog instruments and preamps with the simplicity of a digital mixing process.</p>

    <p>As an acoustician I’m really picky with the sound of the room, adding to a precise monitoring system and a good pair of ears, L’Aurore delivers some polish mixes matching the high quality standards for any of your projects.</p>
  </div>

  <%= image_tag ("studio.jpg"), :class => "main_index_image" %>
</div>