<div><%= link_to 'Add a new post', sound_designs_new_path %></div>

<div class="post-items-wrapper">
  <% @sound_designs.each do |sound_design| %>

    <div class="post-item-wrapper">
      <% if sound_design.image.attached? %>
        <div class="post-img"><%= link_to image_tag(sound_design.image, style: 'height: 431.2px; width: 431.2px;'), sound_design %></div>
      <% end %>
      <h2 class="subtitle-box"><%= link_to sound_design.title, sound_design, :class => "subtitle" %></h2>
    </div>

  <% end %>
</div>