<% if user_signed_in? %>
  <div class="add-wrapper"><%= link_to 'New Sound Design', sound_designs_new_path, :class => "add-button" %></div>
<% end %>

<div class="post-items-wrapper">
  <% @sound_designs.each do |sound_design| %>

    <div class="post-item-wrapper">
      <% if sound_design.image.attached? %>
        <div class="post-img"><%= link_to image_tag(sound_design.image, style: 'height: 431.2px; width: 431.2px;'), sound_design %></div>
      <% end %>
      <h2 class="subtitle-box"><%= link_to sound_design.title, sound_design, :class => "subtitle" %></h2>
    </div>
  <% end %>
</div>

