<p class="iframe_links">
  <%= f.label :iframe_url, "Video iframe code: " %>
  <%= f.text_field :iframe_url, :class => "back-field", :id => "iframe-back-field" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to (fa_icon "times-circle"), '#', class: "remove_fields" %>
</p>

