<% if user_signed_in? %>
  <div class="add-wrapper"><%= link_to "New Music Production", new_song_path, :class => "add-button" %></div>
<% end %>
<div class="post-items-wrapper">
  <% @songs.each do |song| %>

    <div class="post-item-wrapper">
      <% if song.image.attached? %>
        <div class="post-img"><%=link_to image_tag(song.image, style: 'width: 89%'), song %></div>
      <% end %>
      <h2 class="subtitle-box"><%= link_to song.title, song, :class => "subtitle" %></h2>
    </div>
  <% end %>
</div>

