<div class="index_home_studio">
  <h1 class="title">L'AURORE</h1>
  <div class="small_description">
    <%= @homes.first.main_description %>
  </div>

  <% if @homes.first.image.attached? %>
    <%= image_tag url_for(@homes.first.image), :class => "main_index_image" %>
  <% end %>

  <div class="sub_description_wrap">
    <%= @homes.first.sub_description %>
  </div>
  <% if user_signed_in? %>
    <div class="command-wrapper">
      <%= link_to "Edit", edit_home_path(1), :class => "button-item" %>
    </div>
  <% end %>
</div>