<h2>Hi Geoffrey, you've received a new message</h2>

<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Last name:</strong> <%= @contact.last_name %></p>
<p><strong>E-mail:</strong> <%= @contact.email %></p>
<p><strong>Message:</strong></p>
<p><%= @contact.message %></p>