/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 300; */
}

body {
  margin: 0 30px 0 30px;
}

/* Index stylesheet */

.post-items-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.post-item-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  color: transparent;
  transition: 0.4s;
}

.post-item-wrapper:hover .post-img {
  filter: opacity(75%);
}

/* If you want to put an animation to the subtile */

.post-item-wrapper:hover .subtitle {
}

.post-img {
  color: transparent;
  transition: 0.4s;
}

.post-img:hover {
  
}

.subtitle-box {
  display: flex;
  margin-top: 20px;
  justify-content: center;

}

.subtitle {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.4s;
}

/* Add new post */

.add-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 5px 40px 0 40px;
}

.add-button {
  padding: 8px 25px 8px 25px;
  color: white;
  background: #006DCB;
  border: solid 1.5px white;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all ease 0.5s;
  text-decoration: none;
}

.add-button:hover {
  color: #006DCB;
  background-color: white;
  border: solid 1.5px #006DCB;
}

/* Sign out button */

.sign-out-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px 0 40px;
}

.sign-out-button {
  border: solid 1.5px white;
  padding: 8px 25px 8px 25px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: ease all 0.5s;
  font-weight: 600;
  font-size: 0.9rem;
}

.sign-out-button:hover {
  color: red;
  background: white;
  border: solid 1.5px red;
}



