/**************** Music Production *****************/

.new-form-wrap {
  font-weight: 400;
  font-size: 0.9rem;
  width: 60%;
}

.back-wrap {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.back-label {
  margin-bottom: 5px;
}

.back-field {
  border: solid 1px #D3D3D3;
  border-radius: 0.2rem;
}

#title-back-field {
  height: 25px;
}

#description-back-field {
  height: 100px;
}

#iframe-back-field {
  width: 50%;
}

#save-cancel-wrap {
  flex-direction: row-reverse;
}

#iframe-wrap {
  margin-bottom: 0px !important;
}

/************* Buttons **********/

input::-webkit-file-upload-button {
  background: white;
  border: 1px solid #D3D3D3;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.80rem;
  font-weight: 600;
  margin-right: 10px;
  padding: 8px 10px 8px 10px;
  transition: all ease 0.5s;
}

input::-webkit-file-upload-button:hover {
  border: 1px solid black;
  background: #EFEFEF;
}

i.fa.fa-times-circle {
  color: red;
  font-size: 1.1rem;
  transition: all ease 0.4s;
}

a.add_fields {
  border: 1px solid #D3D3D3;
  border-radius: 0.4rem;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.80rem;
  padding: 8px 5px 8px 5px;
  text-decoration: none;
  transition: all ease 0.5s;
  max-width: 130px;
}

a.add_fields:hover {
  border: 1px solid black;
  background: #EFEFEF;
}

