/* The nickname attribute will be hidden so that no one can fill it out but computers will fill it out. This will determine whether the message is coming from a computer or not. */

.hidden { display: none; }

.alert-success{
  color: green;
}
.alert-danger{
  color: red;
}

.new-form {
  display: flex;
}

.contact-form {
  margin: 0 50px 0 0;
  width: 50%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  width: 40%;
}

.contact-item-wrap {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
}

.contact-item-name-left {
  width: 48%;
}


.contact-item-name-right {
  width: 48%;
}

.text-item-left {
  height: 30px;
  width: 100%;
  background-color: #EEEEEE;
  border: none;
  margin-top: 5px;
  padding-left: 10px;
}

.text-item-left::placeholder {

}

.text-item-right::placeholder {

}

.text-item-right {
  height: 30px;
  width: 100%;
  background-color: #EEEEEE;
  border: none;
  margin-top: 5px;
  padding-left: 10px;
}

.contact-item {
  height: 40px;
  margin-bottom: 30px;
  width: 100%;
}

.label-item {
  width: 22%;
  
  font-weight: 400;
  font-size: 0.9rem;
}

.text-item {
  height: 30px;
  width: 100%;
  background-color: #EEEEEE;
  border: none;
  margin-top: 5px;
  padding-left: 10px;
}

.text-message-item {
  height: 200px;
  width: 100%;
  background-color: #EEEEEE;
  border: none;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.submit-item {
  display: flex;
  justify-content: flex-start;

}

.submit-button {
  background-color: #253651;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all ease 0.5s;
  cursor: pointer;

}

.submit-button:hover {
  background-color: #515E75;
}

/* Contact details */

.expertise-detail {
  width: 500px;
}

.expertise-detail h1 {
  display: flex;
}

.expertise-detail h5 {
  display: flex;
}


.email-detail p {
  display: flex;
}

.email-detail h5 {
  display: flex;
}

.phone-detail p {
  display: flex;
}

.phone-detail h5 {
  display: flex;
}


