footer {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.social-footer {
  display: flex;
  height: 65%;
  justify-content: center;
  align-items: flex-end;
}

.social_icons_footer {
  margin: 0 20px 0 0;
  color: black;
  font-size: 1.5rem;
  transition: all ease 0.5s;
}

.social_icons_footer:hover {
  color: red;
}

#social_icons_footer_right {
  margin: 0 0 0 0;
}

.made-by {
  margin-top: 30px;
  display: flex;
  height: 35%;
  justify-content: center;
  font-weight: 300;
  font-size: 0.8rem;
}

.made_by {
  text-decoration: none;
  color: black;
  transition: all ease 0.5s;
}

.mady_by:hover {
  color: red;
}