.header {
  display: flex;
  background-color: ;
  height: 180px;
  align-items: center;
  z-index: 30;
}

/* Logo box */

.logo-box {
  display: flex;
  background: ;
  width: 32%;
  padding-left: 25px;
}

.style_logo {
  width: 360px;
  height: 135px; 
}


/* Nav-bar links */

.navbar {
  width: 58%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: ;
  margin-bottom: 18px;
}

.nav-link {
  margin: 0 25px 0 0;
}

.menu_button {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 3px;
  border-bottom: solid 1.9px white;
  transition: all ease 0.5s;
}

.menu_button:hover {
  border-bottom: solid 1.9px black;
}

.active {
  border-bottom: solid 1.9px black;
}


/* Social nav-bar */

.social {
  display: flex;
  justify-content: flex-start;
  width: 10%;
  margin-bottom: 18px;
}

.social_icons {
  margin: 0 25px 0 0;
  color: black;
  font-size: 1.15rem;
  transition: all ease 0.5s;
}

.social_icons:hover {
  color: red;
}
