.index_home_studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 80px; */
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.small_description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 676px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 1rem;
}

.main_index_image {
  width: 50%;
  /* width: 676px; */
  /* height: 451px; */
  margin-bottom: 55px;
}

.long_description {
  display: flex;
  width: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22pt;
}