.index_home_studio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 80px; */
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.small_description {
  background: lightgreen;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 1rem;
}

.main_index_image {
  width: 50%;
  margin-bottom: 55px;
}

.sub_description_wrap {
  display: flex;
  width: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22pt !important;
}

.sub_description_index {

}