
@media only screen and (max-width: 1289px) {

  /* Header */
  .social {
    display: none;
  }

  .navbar {
    width: 68%;
  }
}



@media only screen and (max-width: 1147px) {


  /* Header */
  .navbar {
    display: none;
  }

  .nav-link {
    display: none;
  }

  .logo-box {
    width: 90%;
  }

  /* Home & studio index */
  .main_index_image {
    width: 60%;
  }

  .long_description {
    width: 60%;
  }

  .small_description_studio {
    width: 60% !important;
  }

  /* Burger menu */

  #hamburger-button {
    display: flex;
    justify-content: flex-end;
    width: 64px;
    min-width: 64px;
  }

  ion-icon {
    display: flex !important;
  }

  #hamburger-sidebar {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {

  .post-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }

  .contact-details {
    width: 30%;
  }

  .contact-form {
    width: 70%;
  }

  #iframe-item {
    padding: 0 0 0 0 !important;
  } 

  #iframe-item iframe {
    width: 660px !important;
    height: 415px !important;
  }

  #iframe-item-advertising iframe {
    width: 660px !important;
    height: 415px !important;
  } 
}


@media only screen and (max-width: 762px) {

  body {
    margin: 0px 0px 0px 0px !important;
  }

  /* Header */

  .header {
    height: 150px;
  }

  #hamburger-sidebar-header {
    height: 150px !important;
  }
  .style_logo {
    width: 260px;
    height: 100px; 
  }

  #hamburger-button {
    margin-right: 20px;
    margin-left: 10px;
  }

  ion-icon {
    --ionicon-stroke-width: 10px !important;
  }

  /********** Home & studio index ********/
  .main_index_image {
    width: 90%;
  }

  .long_description {
    width: 90%;
  }

  .small_description_studio {
    width: 90% !important;
  }

  /*************** Song index **************/

  .post-items-wrapper {
    display: flex !important;
    flex-direction: column !important;
  }

  #iframe-item {
    padding: 0 0 0 0 !important;
  } 

  #iframe-item iframe {
    width: 460px !important;
    height: 315px !important;
  }

  /*************** Advertising index ************/

  #iframe-item-advertising {
    margin: 0px 0px 0px 0px !important;
  }

  #iframe-item-advertising iframe {
    width: 460px !important;
    height: 315px !important;
  } 

  /*************** New form ***************/

  .new-form {
    margin: 0 40px 0 30px;
    flex-direction: column-reverse;
  }

  .contact-details {
    margin: 80px 0 0 0;
    width: 100%;
  }

  .contact-form {
    margin: 0 0 0 0;
    width: 100%;
    justify-content: center;
  }

  .contact-item-wrap {
    flex-direction: column;
    height: 110px;
  }

  .contact-item-name-left {
    width: 100%;
    height: 40px;
  }

  .contact-item-name-right {
    width: 100%;
    height: 40px;
  }

  .email-detail {
    width: 100%;
  }

  .email-detail p {
    justify-content: center;
  }

  .email-detail h5 {
    justify-content: center;
  }

  .phone-detail p {
    justify-content: center;
  }

  .phone-detail h5 {
    justify-content: center;
  }
}


@media only screen and (max-width: 499px) {

  body {
    margin: 0px 0px 0px 0px !important;
    font-size: 120%;
  }

  .style_logo {
    width: 200px;
    height: 80px;
  }

  ion-icon {
    --ionicon-stroke-width: 8px !important;
  }

  #hamburger-button {
    margin-right: 10px;
    margin-left: 10px;
  }

  .style-logo-burger {
    width: 200px !important;
    height: 80px !important; 
  }

  #closed-burger {
    --ionicon-stroke-width: 8px !important;
  }

   /*************** Song index **************/

  #iframe-item {
    padding: 0 0 0 0 !important;
    margin-bottom: 20px;
  } 

  #iframe-item iframe {
    width: 400px !important;
    height: 315px !important;
  }

  /*************** Advertising index ************/

  #iframe-item-advertising {
    margin-bottom: 0 !important;
  }

  #iframe-item-advertising iframe {
    width: 400px !important;
    height: 315px !important;
  }

/*************** Prev & Next *************/

  .prev-next-wrapper {
    margin: 20px 10px 0px 10px !important;
  }
}


@media only screen and (max-width: 400px) {

/*************** Song & advertising index ************/

  #iframe-item iframe {
    width: 360px !important;
    height: 315px !important;
  }

  #iframe-item-advertising iframe {
    width: 360px !important;
    height: 315px !important;
  } 

/*************** Prev & Next *************/

  .prev-next-wrapper {
    margin: 20px 10px 0px 10px !important;
  }
}

@media only screen and (max-width: 370px) {



  /************* Header *************/

  .style_logo {
    width: 200px;
    height: 80px;
  }

  ion-icon {
    --ionicon-stroke-width: 8px !important;
  }

  #hamburger-button {
    margin-right: 10px;
    margin-left: 10px;
  }

  .style-logo-burger {
    width: 200px !important;
    height: 80px !important; 
  }

  #closed-burger {
    
    --ionicon-stroke-width: 8px !important;
  }



  /************** Show page ***************/

  #iframe-item iframe {
    width: 310px !important;
    height: 280px !important;
  }

  #iframe-item-advertising iframe {
    width: 310px !important;
    height: 280px !important;
  }

  /*************** Prev & Next *************/

  .prev-next-wrapper {
    margin: 20px 10px 0px 10px !important;
  }

}





/* Burger menu */

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 200;
  padding: 0;
  margin-bottom: 17px;
  
}

ion-icon {
  font-size: 64px;
  --ionicon-stroke-width: 16px;
  display: none;
}


#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform .4s ease-out;
}

.logo-box-burger {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 25px;
}

.style-logo-burger {
  width: 260px;
  height: 100px; 
}

#hamburger-button-closed {
  margin-right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 17px;
}

#closed-burger {
  font-size: 64px;
  --ionicon-stroke-width: 10px;
}

#hamburger-sidebar nav-link {
  display: block;
}

#hamburger-sidebar {
  overflow: scroll;
}

#hamburger-overlay {
  display: none !important;
}

#hamburger-sidebar-header {
  background: white;
  height: 180px;
  background-size: cover;
  align-items: center;
  display: flex;
}

#hamburger-sidebar-body {
  height: 550px;
  padding: 16px 8px;
  background-color: white;
}

#hamburger-button, #hamburger-sidebar, .hamburger-activated #hamburger-overlay {
  display: block;
}

.hamburger-activated #hamburger-sidebar {
  transform: translateX(0);
}

#hamburger-sidebar-body {
  display: flex;
  flex-direction: column;
}

.nav-link-burger {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.burger_button {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all ease 0.5s;
  text-align: center;
}

.burger_button:hover {
  color: red;
}

.social-footer-burger {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
