.description {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.iframe-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#iframe-item {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 405px 0 405px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#iframe-item iframe {
  width: 760px;
  height: 515px;
}

.iframe-wrapper-advertising {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
}

#iframe-item-advertising {
  margin: 20px 0 40px 0;  
}

#iframe-item-advertising iframe {
  width: 949px;
  height: 505px;
}


/* Command-wrapper */

.command-wrapper {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button-item {
  margin-right: 10px;
  padding: 8px 25px 8px 25px;
  color: white;
  background: #006DCB;
  border: solid 1.5px white;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all ease 0.5s;
  text-decoration: none;
}

.button-item:hover {
  background-color: white;
  color: #006DCB;
  border: solid 1.5px #006DCB;
}

#button-item-delete {
  margin-right: 0px;
  background-color: #E22C40;
}

#button-item-delete:hover {
  background-color: white;
  color: #E22C40;
  border: solid 1.5px #E22C40;
}

/********** Prev & Next wrapper **********/

.prev-next-wrapper {
  display: flex;
  text-decoration: none;
  height: 100px;
  align-items: center;
  margin: 60px 80px 0 80px;
}

.prev {
  width: 50%;
  display: flex;
}

.next {
  width: 50%;
  display: flex;
}

.pn-link-left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s;
}

.arrow-left {
  height: 100% !important;
  display: flex;
  align-items: center;
}

.left-title {
  height: 100%;
  display: flex;
  align-items: center;
}

.pn-link-left:hover {
  color: red;
}

.pn-link-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s;
}

.pn-link-right:hover {
  color: red;
}

.arrow-right {
  display: flex;
  align-items: center;
}

.right-title {
  display: flex;
  align-items: center;
}

.fa-chevron-left {
  margin-right: 10px;
  font-size: 1.1rem;
}

.fa-chevron-right {
  margin-left: 10px;
  font-size: 1.1rem;
}